.about-me-overlay{
    background-image:linear-gradient(to left, $primary-color,$secondary-color);
    height:500px;
}
.about-me-section{
    background-color:$dark-color;
    padding:45px 0px;
    border-top-right-radius:100px;
    margin-top:-450px;
    transition:1s;
    .about-me-title{
        text-align:center;
        padding: 30px 0px;
        color: $secondary-color;
        font-size:40px;
    }
    .about-me-grid{
        display:grid;
        grid-template-columns:1fr;
        grid-gap: 40px;
        grid-template-rows:repeat(2,min-content);
        @include leptop(){
            grid-template-columns:1fr 1fr;
        }
        .about-me-image{
            border-bottom:2px solid $green-color;
                box-shadow: -1px 19px 23px -28px #4CAF50;
                border-radius:5px;
            img{
                width:100%;
                transition:0.5s;
                border-radius:25px;
                border-top-right-radius:5px;
                &:hover{
                    transform:scale(1.03);
                }
            }
        }
        .about-me-content{
            color:$light-color;
            p{
                padding:30px 0px;
            }
            ul li{
                @include lead();
                font-size:15px;
                list-style-position:inside;
                list-style-image:url( ../img/right.png);
            }
        }
    }
}