.features-section {

    background:$dark-color;
    color:$light-color;
    padding:5rem 0px;
    position:relative;
    border-bottom-left-radius:100px;
    transition:1s;

    @include tablet() {

        padding-bottom:8rem;

    }

    @include leptop() {

        padding-bottom:5rem;

    }

    .features-title {

        h1 {

            text-align:center;
            color:$secondary-color;
            font-size:40px;
            padding: 30px 0px;

        }

        p {

            text-align:center;
            padding-bottom:40px;

        }

    }
    .features-grid {

        display:grid;
        grid-template-columns:1fr;
        grid-template-rows: repeat(2,min-content);
        grid-gap:40px;

        @include leptop() {

            grid-template-columns: 1fr 1fr;

        }

        .features-contents {

            p {
            
                line-height:30px;
                
            }

            p:nth-child(2) {

                padding:20px 0px;

            }

        }
        .features-image {

            border-bottom:3px solid #7E7235;
            box-shadow: -1px 19px 23px -28px #7E7235;
            border-radius:5px;
            overflow: hidden;

            img {

                width:100%;
                border-radius:5px;
                transition:all .3s;

                &:hover {

                    transform:scale(1.2);

                }
            }
        }
    }

}
/*$$$$$ my-features-end $$$$$$*/
.features-overlay{
    height:300px;
    width:100%;
    background-image:linear-gradient(to right, $primary-color,$secondary-color);
    margin-top:-230px;
    position:absolute;
    z-index:-1;
}