.features-section{
    background:$dark-color;
    color:$light-color;
    padding:5rem 0px;
    position:relative;
    border-bottom-left-radius:100px;
    transition:1s;
    .features-title{
        h1{
            text-align:center;
            color:$secondary-color;
            font-size:40px;
            padding: 30px 0px;
        }
        p{
            text-align:center;
            padding-bottom:40px;
        }
    }
    .features-grid{
        display:grid;
        grid-template-columns:1fr;
        grid-template-rows: repeat(2,min-content);
        // @import leptop(){
        //     grid-template-columns:1fr 1fr;
        // }
        .features-contents{
            p:nth-child(2){
                padding:20px 0px;
            }
        }
        .features-image{
            height:300px;
            padding: 0px 20px 20px 10px;
            border-radius:5px;
            border-bottom:2px solid #0312DF;
            box-shadow: 0px 12px 8px -11px #0312DF;
            max-width:520px;
            justify-self:center;
            img{
                height:100%;
                transition:1s;
            }
            img:hover{
                transform:scale(1.03);
            }
        }
    }

}
/*$$$$$ my-features-end $$$$$$*/
.features-overlay{
    height:300px;
    width:100%;
    background-image:linear-gradient(to right, $primary-color,$secondary-color);
    margin-top:-230px;
    position:absolute;
    z-index:-1;
}