/*footer-start*/
#footer{
    background:$dark-color-2;
    padding:5rem 0px;
    .footer-grid{
        display:grid;
        grid-template-columns:1fr;
        grid-template-rows: repeat(4,min-content);
        grid-gap:30px;
        @include tablet(){
            grid-template-columns:1fr 1fr;
            grid-template-rows: repeat(2,min-content);
        }
        @include leptop(){
            grid-template-columns:1fr 1fr 1fr 1fr;
            grid-template-rows:min-content;
        }
        h3{
            color:$light-color;
            margin:10px 0px;
        }
        a{
            color:$light-color;
        }
        ul{
            list-style:none;
        }
        .f-follow,.f-about,.f-links,.f-sub{
            font-size:14px;
        }
        .f-links ul li a{
            line-height:25px;
            color:$p-color;
            font-size:20px;
        }
        .f-links ul li a:hover{
            text-decoration:underline;
            color:$light-color;
        }
        .f-follow i{
            color: $p-color;
            cursor:pointer;
            font-size:20px;
            margin:0px 10px;
        }
        .f-follow i:hover{
            color: $light-color;
        }
        .f-sub{
            .subscribe{
                position: relative;
                background: red;
                input{
                    padding:13px;
                    border:1px solid $light-color;
                    outline:none;
                    border-radius:15px;
                    font-size:17px;
                    background:none;
                    float:left;
                    width:100%;
                    color:$light-color;
                }
                a{
                    position:absolute;
                    top:0;
                    right:0;
                    display:inline-block;
                    background-color: #fff;
                    width:20%;
                    border-radius:0px 15px 15px 0px;
                    line-height:48px;
                    text-align:center;
                    color:$dark-color-2;
                }
            }
        }
    }
    .f-copyright{
        margin-top:100px;
        padding-top:35px;
        border-top:1px solid $light-color;
        text-align:center;
        :first-child{
            color: $p-color;
            font-size: 20px;
            margin:20px 0px;
        }
        :last-child{
            color:$p-color;
            a{
                color:$secondary-color;
            }
        }
    }
}
/*footer-end*/