/*footer-start*/
#footer{
    background:$dark-color-2;
    padding:5rem 0px;
    grid-gap:20px;
    .footer-grid{
        display:grid;
        grid-gap:30px;
        h3{
            color:$light-color;
            margin:10px 0px;
        }
        a{
            color:$light-color;
        }
        ul{
            list-style:none;
        }
        .f-follow,.f-about,.f-links,.f-sub{
            margin:5px 0px 0px 0px;
            font-size:14px;
            h3{
                margin-bottom:1.6rem;
            }
        }
        .f-links ul li a{
            line-height:25px;
            color:$p-color;
            font-size:20px;
        }
        .f-links ul li a:hover{
            text-decoration:underline;
            color:$light-color;
        }
        .f-follow i{
            color: $p-color;
            cursor:pointer;
            font-size:20px;
            margin:0px 10px;
        }
        .f-follow i:hover{
            color: $light-color;
        }
        .f-sub{
            input{
                padding:13px;
                border:1px solid $light-color;
                outline:none;
                border-radius:15px 0px 0px 15px;
                font-size:17px;
                background:none;
                float:left;
                width:65%;
            }
            a{
                background:$light-color;
                color:$dark-color-2;
                font-size:17px;
                float:left;
                padding:14px;
                border-radius:0px 15px 15px 0px;
                font-family:$p-text;
                width:25%;
                text-align:center;
            }
        }
    }
    .f-copyright{
        margin-top:100px;
        padding-top:35px;
        border-top:1px solid $light-color;
        text-align:center;
        :first-child{
            color: $p-color;
            font-size: 20px;
            margin:20px 0px;
        }
        :last-child{
            color:$p-color;
            a{
                color:$secondary-color;
            }
        }
    }
}
/*footer-end*/