/*scroll-bar*/
@media(min-width:769px){
    ::-webkit-scrollbar{
        width:30px;
        background-color:$dark-color;
    }
    ::-webkit-scrollbar-thumb{
        background-image:linear-gradient($primary-color,$secondary-color);
        border-radius:30px;
        border:3px solid #333;
    }
}
/*scroll-bar*/

/*main-section-start*/
@media (min-width:768px){
    .about-me-section{
        border-top-right-radius:200px;
    }
    .features-section{
        border-bottom-left-radius:200px;
    }
}
/*main-section-end*/