* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
}

p {
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
  color: rgba(187, 187, 187, 0.753);
  line-height: 30px;
}

.container {
  margin: auto;
}

@media screen and (max-width: 575px) {
  .container {
    width: 95%;
  }
}

@media screen and (min-width: 576px) {
  .container {
    width: 540px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 720px;
  }
}

@media screen and (min-width: 992px) {
  .container {
    width: 960px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1140px;
  }
}

/*nav-start*/
nav {
  width: 100%;
  background-image: -webkit-gradient(linear, right bottom, left top, from(#E52F70), to(#FE8802));
  background-image: linear-gradient(to top left, #E52F70, #FE8802);
  height: 80px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 2;
}

nav #chk {
  display: none;
}

nav #chk:checked ~ ul {
  right: 0;
  border-radius: 0px;
}

nav .show-menu-icon, nav .hide-menu-icon {
  display: none;
}

@media screen and (max-width: 767px) {
  nav .show-menu-icon, nav .hide-menu-icon {
    display: block;
  }
}

@media screen and (max-width: 767px) {
  nav .show-menu-icon {
    color: #dadada;
    float: right;
    display: block;
    line-height: 80px;
    font-size: 25px;
  }
}

nav h1 {
  float: left;
  line-height: 80px;
  cursor: pointer;
  color: #dadada;
  font-family: "Sriracha", cursive;
  font-size: 35px;
}

nav ul {
  float: right;
}

@media screen and (max-width: 767px) {
  nav ul {
    position: fixed;
    background-color: #535C68;
    top: 0;
    width: 100%;
    right: -100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    height: 100vh;
    padding: 70px 0px;
    -webkit-transition: .5s;
    transition: .5s;
    border-radius: 100% 0px 30% 500%;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#E52F70), to(#FE8802));
    background-image: linear-gradient(#E52F70, #FE8802);
    overflow: scroll;
    z-index: 5;
  }
}

nav ul a {
  text-decoration: none;
  line-height: 80px;
  margin: 0px 15px;
  padding: 5px 10px;
  color: #dadada;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

nav ul a:hover {
  color: #fff;
  border-bottom: 2px solid #FFF;
}

@media screen and (max-width: 767px) {
  nav ul i {
    position: absolute;
    top: 40px;
    right: 40px;
    color: #fff;
    font-size: 20px;
  }
}

/*nav-end*/
/*header-section-start*/
header {
  background-image: url("../img/showcase.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

header .header-overlay {
  background-color: rgba(0, 0, 0, 0.678);
  height: 500px;
}

header .header-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 350px 150px;
      grid-template-rows: 350px 150px;
}

header .header-grid .header-content {
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  border: 5px solid #dadada;
  padding: 30px 30px;
  text-align: center;
}

@media screen and (max-width: 575px) {
  header .header-grid .header-content {
    padding: 30px 30px;
  }
}

header .header-grid .header-content h1 {
  color: #dadada;
  text-transform: uppercase;
  font-size: 25px;
  font-family: "Sriracha", cursive;
}

@media screen and (min-width: 576px) {
  header .header-grid .header-content h1 {
    font-size: 50px;
  }
}

header .header-grid .header-content p {
  color: #dadada;
  margin-top: 15px;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
}

header .header-grid .header-btns {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(200px, 250px))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(200px, 250px));
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  place-items: start center;
}

header .header-grid .header-btns a {
  color: #dadada;
  padding: 15px 20px;
  background-image: -webkit-gradient(linear, left top, right top, from(#E52F70), to(#FE8802));
  background-image: linear-gradient(to right, #E52F70, #FE8802);
  text-decoration: none;
  border-radius: 5px;
}

header .header-grid .header-btns a:hover {
  background-image: -webkit-gradient(linear, left top, right top, from(#FE8802), to(#E52F70));
  background-image: linear-gradient(to right, #FE8802, #E52F70);
}

/*header-section-end*/
.about-me-overlay {
  background-image: -webkit-gradient(linear, right top, left top, from(#E52F70), to(#FE8802));
  background-image: linear-gradient(to left, #E52F70, #FE8802);
  height: 500px;
}

.about-me-section {
  background-color: #151D2A;
  padding: 45px 0px;
  border-top-right-radius: 100px;
  margin-top: -450px;
  -webkit-transition: 1s;
  transition: 1s;
}

.about-me-section .about-me-title {
  text-align: center;
  padding: 30px 0px;
  color: #FE8802;
  font-size: 40px;
}

.about-me-section .about-me-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  grid-gap: 40px;
  -ms-grid-rows: (min-content)[2];
      grid-template-rows: repeat(2, -webkit-min-content);
      grid-template-rows: repeat(2, min-content);
}

@media screen and (min-width: 992px) {
  .about-me-section .about-me-grid {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

.about-me-section .about-me-grid .about-me-image {
  border-bottom: 2px solid #4CAF50;
  -webkit-box-shadow: -1px 19px 23px -28px #4CAF50;
          box-shadow: -1px 19px 23px -28px #4CAF50;
  border-radius: 5px;
  overflow: hidden;
}

.about-me-section .about-me-grid .about-me-image img {
  width: 100%;
  border-radius: 25px;
  border-top-right-radius: 5px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.about-me-section .about-me-grid .about-me-image img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.about-me-section .about-me-grid .about-me-content {
  color: #dadada;
}

.about-me-section .about-me-grid .about-me-content p {
  padding: 30px 0px;
  line-height: 30px;
}

.about-me-section .about-me-grid .about-me-content ul li {
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
  color: rgba(187, 187, 187, 0.753);
  line-height: 30px;
  font-size: 15px;
  list-style-position: inside;
  list-style-image: url(../img/right.png);
}

.features-section {
  background: #151D2A;
  color: #dadada;
  padding: 5rem 0px;
  position: relative;
  border-bottom-left-radius: 100px;
  -webkit-transition: 1s;
  transition: 1s;
}

@media screen and (min-width: 768px) {
  .features-section {
    padding-bottom: 8rem;
  }
}

@media screen and (min-width: 992px) {
  .features-section {
    padding-bottom: 5rem;
  }
}

.features-section .features-title h1 {
  text-align: center;
  color: #FE8802;
  font-size: 40px;
  padding: 30px 0px;
}

.features-section .features-title p {
  text-align: center;
  padding-bottom: 40px;
}

.features-section .features-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: (min-content)[2];
      grid-template-rows: repeat(2, -webkit-min-content);
      grid-template-rows: repeat(2, min-content);
  grid-gap: 40px;
}

@media screen and (min-width: 992px) {
  .features-section .features-grid {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

.features-section .features-grid .features-contents p {
  line-height: 30px;
}

.features-section .features-grid .features-contents p:nth-child(2) {
  padding: 20px 0px;
}

.features-section .features-grid .features-image {
  border-bottom: 3px solid #7E7235;
  -webkit-box-shadow: -1px 19px 23px -28px #7E7235;
          box-shadow: -1px 19px 23px -28px #7E7235;
  border-radius: 5px;
  overflow: hidden;
}

.features-section .features-grid .features-image img {
  width: 100%;
  border-radius: 5px;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.features-section .features-grid .features-image img:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

/*$$$$$ my-features-end $$$$$$*/
.features-overlay {
  height: 300px;
  width: 100%;
  background-image: -webkit-gradient(linear, left top, right top, from(#E52F70), to(#FE8802));
  background-image: linear-gradient(to right, #E52F70, #FE8802);
  margin-top: -230px;
  position: absolute;
  z-index: -1;
}

#service-section {
  background-image: url(../img/service.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-top: 70px;
}

#service-section .service-overlay {
  background-color: rgba(21, 29, 42, 0.911);
  padding: 5rem 0px;
}

#service-section .service-title h1 {
  text-align: center;
  color: #FE8802;
  font-size: 40px;
  padding: 30px 0px;
}

#service-section .service-grid {
  display: -ms-grid;
  display: grid;
  grid-gap: 40px;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: (min-content)[6];
      grid-template-rows: repeat(6, -webkit-min-content);
      grid-template-rows: repeat(6, min-content);
}

@media screen and (min-width: 768px) {
  #service-section .service-grid {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 992px) {
  #service-section .service-grid {
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
  }
}

#service-section .service-grid .service-block {
  text-align: center;
  -webkit-transition: all .5s;
  transition: all .5s;
  border-radius: 1rem;
  cursor: pointer;
}

#service-section .service-grid .service-block:hover {
  -webkit-transform: scale(1.01);
          transform: scale(1.01);
}

#service-section .service-grid .service-block:hover .block-icon {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

#service-section .service-grid .service-block:hover .block-icon i {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

#service-section .service-grid .service-block .block-icon {
  width: 150px;
  height: 150px;
  text-align: center;
  line-height: 150px;
  font-size: 60px;
  color: #dadada;
  margin: 3rem auto;
  border-radius: 10px;
  position: relative;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transition: all .3s;
  transition: all .3s;
}

#service-section .service-grid .service-block .block-icon i {
  position: absolute;
  left: 0;
  right: 0;
  top: 40px;
  margin: auto;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-transition: all .3s;
  transition: all .3s;
}

#service-section .service-grid .service-block .block-icon-1 {
  background: rgba(244, 67, 54, 0.089);
  border: 2px solid #F44336;
}

#service-section .service-grid .service-block .block-icon-2 {
  background: rgba(229, 47, 111, 0.096);
  border: 2px solid #E52F70;
}

#service-section .service-grid .service-block .block-icon-3 {
  background: rgba(254, 136, 2, 0.096);
  border: 2px solid #FE8802;
}

#service-section .service-grid .service-block .block-icon-4 {
  background: rgba(155, 39, 176, 0.103);
  border: 2px solid #9C27B0;
}

#service-section .service-grid .service-block .block-icon-5 {
  background: rgba(3, 168, 244, 0.11);
  border: 2px solid #03A9F4;
}

#service-section .service-grid .service-block .block-icon-6 {
  background: rgba(76, 175, 79, 0.116);
  border: 2px solid #4CAF50;
}

#service-section .service-grid .service-block .block-content h3 {
  color: #dadada;
  margin: 20px 0px;
  font-size: 25px;
}

label {
  font-family: "Montserrat", sans-serif;
  color: rgba(187, 187, 187, 0.753);
}

#contact-section {
  background: #151D2A;
  padding: 5rem 0rem;
}

#contact-section .contact-title {
  color: #FE8802;
  text-align: center;
  margin-bottom: 3rem;
  font-size: 35px;
}

#contact-section .contact-grid {
  display: -ms-grid;
  display: grid;
  grid-gap: 50px;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: (min-content)[3];
      grid-template-rows: repeat(3, -webkit-min-content);
      grid-template-rows: repeat(3, min-content);
}

@media screen and (min-width: 768px) {
  #contact-section .contact-grid {
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
  }
}

#contact-section .contact-grid .location, #contact-section .contact-grid .phone, #contact-section .contact-grid .email {
  text-align: center;
}

#contact-section .contact-grid .location span, #contact-section .contact-grid .phone span, #contact-section .contact-grid .email span {
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
  color: rgba(187, 187, 187, 0.753);
  line-height: 30px;
  font-size: 15px;
}

#contact-section .contact-grid .location i, #contact-section .contact-grid .phone i, #contact-section .contact-grid .email i {
  color: #FE8802;
  margin: 1rem 0px;
  display: block;
}

#contact-section h2 {
  color: #FE8802;
  margin: 3rem;
  font-size: 25px;
  text-align: center;
}

#contact-section p {
  text-align: center;
  margin: 2rem 0;
}

@media screen and (min-width: 992px) {
  #contact-section p {
    display: block;
    width: 700px;
    margin: 2rem auto;
  }
}

#contact-section form {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: (min-content)[7];
      grid-template-rows: repeat(7, -webkit-min-content);
      grid-template-rows: repeat(7, min-content);
  grid-gap: 20px;
}

@media screen and (min-width: 768px) {
  #contact-section form {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: (min-content)[6];
        grid-template-rows: repeat(6, -webkit-min-content);
        grid-template-rows: repeat(6, min-content);
  }
}

@media screen and (min-width: 768px) {
  #contact-section form .first-name {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
  }
}

@media screen and (min-width: 768px) {
  #contact-section form .last-name {
    grid-column: 2/-1;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
  }
}

@media screen and (min-width: 768px) {
  #contact-section form .email {
    grid-column: 1/-1;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
  }
}

@media screen and (min-width: 768px) {
  #contact-section form .subject {
    grid-column: 1/-1;
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3/4;
  }
}

@media screen and (min-width: 768px) {
  #contact-section form .massage {
    grid-column: 1/-1;
    -ms-grid-row: 4;
    -ms-grid-row-span: 1;
    grid-row: 4/5;
  }
}

#contact-section form label {
  line-height: 40px;
  margin: 0 1rem;
}

#contact-section form input, #contact-section form textarea {
  display: block;
  width: 100%;
  padding: 1rem .5rem;
  border-radius: 30px;
  border: 1px solid #FE8802;
  outline: none;
  -webkit-transition: all .5s;
  transition: all .5s;
  font-size: 18px;
}

#contact-section form input:focus, #contact-section form textarea:focus {
  padding: 1.3rem .8rem;
}

#contact-section form #contact-btn {
  color: #dadada;
  background-image: -webkit-gradient(linear, left top, right top, from(#E52F70), to(#FE8802));
  background-image: linear-gradient(to right, #E52F70, #FE8802);
  border-radius: 25px;
  width: 150px;
  margin: 2rem 0rem;
  border: none;
}

#contact-section form #contact-btn:hover {
  background-image: -webkit-gradient(linear, left top, right top, from(#FE8802), to(#E52F70));
  background-image: linear-gradient(to right, #FE8802, #E52F70);
}

/*footer-start*/
#footer {
  background: #100E17;
  padding: 5rem 0px;
}

#footer .footer-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: (min-content)[4];
      grid-template-rows: repeat(4, -webkit-min-content);
      grid-template-rows: repeat(4, min-content);
  grid-gap: 30px;
}

@media screen and (min-width: 768px) {
  #footer .footer-grid {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: (min-content)[2];
        grid-template-rows: repeat(2, -webkit-min-content);
        grid-template-rows: repeat(2, min-content);
  }
}

@media screen and (min-width: 992px) {
  #footer .footer-grid {
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    -ms-grid-rows: min-content;
        grid-template-rows: -webkit-min-content;
        grid-template-rows: min-content;
  }
}

#footer .footer-grid h3 {
  color: #dadada;
  margin: 10px 0px;
}

#footer .footer-grid a {
  color: #dadada;
}

#footer .footer-grid ul {
  list-style: none;
}

#footer .footer-grid .f-follow, #footer .footer-grid .f-about, #footer .footer-grid .f-links, #footer .footer-grid .f-sub {
  font-size: 14px;
}

#footer .footer-grid .f-links ul li a {
  line-height: 25px;
  color: rgba(187, 187, 187, 0.753);
  font-size: 20px;
}

#footer .footer-grid .f-links ul li a:hover {
  text-decoration: underline;
  color: #dadada;
}

#footer .footer-grid .f-follow i {
  color: rgba(187, 187, 187, 0.753);
  cursor: pointer;
  font-size: 20px;
  margin: 0px 10px;
}

#footer .footer-grid .f-follow i:hover {
  color: #dadada;
}

#footer .footer-grid .f-sub .subscribe {
  position: relative;
  background: red;
}

#footer .footer-grid .f-sub .subscribe input {
  padding: 13px;
  border: 1px solid #dadada;
  outline: none;
  border-radius: 15px;
  font-size: 17px;
  background: none;
  float: left;
  width: 100%;
  color: #dadada;
}

#footer .footer-grid .f-sub .subscribe a {
  position: absolute;
  top: 0;
  right: 0;
  display: inline-block;
  background-color: #fff;
  width: 20%;
  border-radius: 0px 15px 15px 0px;
  line-height: 48px;
  text-align: center;
  color: #100E17;
}

#footer .f-copyright {
  margin-top: 100px;
  padding-top: 35px;
  border-top: 1px solid #dadada;
  text-align: center;
}

#footer .f-copyright :first-child {
  color: rgba(187, 187, 187, 0.753);
  font-size: 20px;
  margin: 20px 0px;
}

#footer .f-copyright :last-child {
  color: rgba(187, 187, 187, 0.753);
}

#footer .f-copyright :last-child a {
  color: #FE8802;
}

/*footer-end*/
/*scroll-bar*/
@media (min-width: 769px) {
  ::-webkit-scrollbar {
    width: 30px;
    background-color: #151D2A;
  }
  ::-webkit-scrollbar-thumb {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#E52F70), to(#FE8802));
    background-image: linear-gradient(#E52F70, #FE8802);
    border-radius: 30px;
    border: 3px solid #333;
  }
}

/*scroll-bar*/
/*main-section-start*/
@media (min-width: 768px) {
  .about-me-section {
    border-top-right-radius: 200px;
  }
  .features-section {
    border-bottom-left-radius: 200px;
  }
}

/*main-section-end*/
/*# sourceMappingURL=style.css.map */